# Introduction to Python

In [48]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

In [49]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

In [50]:
x = 1
if x == 1:
    print("x is 1.")

x is 1.

In [51]:
y = 2
print(y)
z = 3.0
print(z)
string = "Hello World!"
print(string)

2
3.0
Hello World!

In [52]:
type(y)

int

In [53]:
type(z)

float

In [54]:
type(string)

str

###You can assign multiple variables to values in one line using the below technique

In [55]:
a,b,c,d = 10,11.0,"Hello World",True
a

10

###We can use the %whos to know about the variables in memory

In [56]:
%whos

Variable            Type     Data/Info
--------------------------------------
a                   int      10
b                   float    11.0
c                   str      Hello World
d                   bool     True
fruits              tuple    n=4
fruitsTuple         tuple    n=5
gradeList           list     n=7
grades              set      {True, 36, 20, 'Orange', 25.5, 10}
i                   tuple    n=2
listOfFruits        list     n=5
listOfGrades        set      {True, 36, 10, -17, 20, 25.5, 'Orange'}
nums                list     n=8
phoneDirectory      dict     n=3
seconds_in_a_day    int      86400
seconds_in_a_week   int      604800
string              str      Hello World!
x                   int      1
y                   int      2
z                   float    3.0

## Python Built-in data structures
There are four collection data types in the Python programming language:


*   **List** is a collection which is ordered and changeable. Allows duplicate members.
*   **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
*   **Set** is a collection which is unordered and unindexed. No duplicate members.
*   **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

# Lists

In [57]:
# lists

nums = [1,2,-10,6,58,123,55,-70]

print(len(nums)) #to get how many element in a list

8

In [58]:
nums.append(9) #to add element at the end of the list
nums

[1, 2, -10, 6, 58, 123, 55, -70, 9]

In [59]:
nums.insert(5,6) #adding number 6 in index number 5
nums

[1, 2, -10, 6, 58, 6, 123, 55, -70, 9]

In [60]:
nums.pop(4) #removing the element in the index number 4
nums

[1, 2, -10, 6, 6, 123, 55, -70, 9]

In [61]:
nums.remove(-10) #removing the element -10 specificly
nums

[1, 2, 6, 6, 123, 55, -70, 9]

In [62]:
#printing all elements in list
#first way by using range function
for i in range(len(nums)):
    print(nums[i])

1
2
6
6
123
55
-70
9

In [63]:
#second way by using in function
for i in nums:
    print(i)

1
2
6
6
123
55
-70
9

# Tuples

In [64]:
fruits = ("Orange","Apples","Banana","Kiwi")

print(len(fruits)) # to get how many elements in a tuple

4

In [65]:
#printing all elements in tuples same as lists
for i in range(len(fruits)):
    print(fruits[i])

Orange
Apples
Banana
Kiwi

In [66]:
for i in fruits:
    print(i)

Orange
Apples
Banana
Kiwi

In [67]:
#tuples are unchangeable unless it turned into a list

listOfFruits = list(fruits) #casting the tuple to a list

listOfFruits.append("cherry")

fruitsTuple = tuple(listOfFruits) #casting the list to a tuple

fruitsTuple

('Orange', 'Apples', 'Banana', 'Kiwi', 'cherry')

# Sets

In [68]:
grades = {20,25.5,36,10,True,"Orange"}

#sets are unordered. So, they have no index.
#duplicates are not allowed.
#sets are unchangeable unless it turned into a list.

gradeList = list(grades)
gradeList.append(-17)

listOfGrades = set(gradeList)

print(listOfGrades)

{True, 36, 10, -17, 20, 25.5, 'Orange'}

In [69]:
print(len(grades))

6

In [70]:
#printing all items in set
for i in listOfGrades:
    print(i , end = "   ")

True   36   10   -17   20   25.5   Orange

# Dictionary

In [71]:
#dictionaries are ordered and changeable.
#dictionaries consists of keys and values
#duplicates in keys are not allowed.

phoneDirectory = {"Ali":24177777777,
                  "Ahmed":258999999,
                  "Mohamed":691111111}
phoneDirectory

{'Ali': 24177777777, 'Ahmed': 258999999, 'Mohamed': 691111111}

In [72]:
print(phoneDirectory["Ali"])

24177777777

In [73]:
print(len(phoneDirectory))

3

In [74]:
#printing all values in dictionary
for i in phoneDirectory.values():
    print(i)

24177777777
258999999
691111111

In [75]:
#printing all items in dictionary
for i in phoneDirectory.items():
    print(i)

('Ali', 24177777777)
('Ahmed', 258999999)
('Mohamed', 691111111)